@import "tailwindcss";
*{
    transition: all is ease;
}

body{
    max-width: 1280px;
    margin: auto;
}
.anime{
    height: 600px;
    width: 600px;
}
body.light{
    background-color: white;
    color: black;
}
body.dark{
    background-color: black;
    color: white;}